snippet iptd "import default  module"
import $1 from '$2';
endsnippet

snippet iptn "import named  module"
import { $1 } from '$2';
endsnippet

snippet cst "Defeine a const"
const $1 = $2;
endsnippet

snippet csg "console.info" i
console.info($1);
endsnippet

snippet ht "html tag" i
<$1 $0/>
endsnippet
snippet hta "html tag" i
<$1
  $0
/>
endsnippet

snippet htt "html tag" i
<$1>
	$0
</$1>
endsnippet

snippet htta "html tag" i
<$1 
	$0
>
</$1>
endsnippet
